/* @import url(../../assets/styles/fonts.css); */
@import url(../../assets/styles/reset.css);


@font-face {
    font-family: 'Roboto';
    src: local('Roboto Bold'), local('Roboto-Bold'), url(../../assets/fonts/Roboto-Bold.ttf);
    font-weight: 700;
    font-style: normal;
  }

  @font-face {
    font-family: 'Roboto';
    src: local('Roboto Medium'), local('Roboto-Medium'),
      url(../../assets/fonts/Roboto-Medium.ttf);
    font-weight: 500;
    font-style: normal;
  }

  @font-face {
    font-family: 'Roboto';
    src: local('Roboto Regular'), local('Roboto-Regular'),
      url(../../assets/fonts/Roboto-Regular.ttf);
    font-weight: 400;
    font-style: normal;
  }

  @font-face {
    font-family: 'Roboto';
    src: local('Roboto Light'), local('Roboto-Light'),
      url(../../assets/fonts/Roboto-Light.ttf);
    font-weight: 300;
    font-style: normal;
  }

  @font-face {
    font-family: 'Roboto';
    src: local('Roboto Thin'), local('Roboto-Thin'), url(../../assets/fonts/Roboto-Thin.ttf);
    font-weight: 100;
    font-style: normal;
  }


  html {
    font-size: 10px;
  }
  body {
    font-size: 1.6rem;
    line-height: 140%;
    font-weight: 400;
    color: #000;
    background-color: transparent;
    font-family: Roboto, Verdana, sans-serif;
  }

  header,
  footer {
    color: #fff;
    background-color: #111115;
    text-align: center;
  }
  .wrapper {
    max-width: 1220px;
    margin: 0 auto;
  }
  .menu-interactive-item {
    cursor: default;
    background: linear-gradient(113.96deg, #f9804b 1.49%, #fe9013 101.44%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
  }
  nav a {
    cursor: pointer;
  }


  .button-watch {
    width: 100%;
    max-width: 298px;
    font-weight: 500;
    color: #fff;
    border-radius: 25px;
    padding: 16px 1px 16px 5px;
  }
  .button-choose {
      width: 100%;
      max-width: 298px;
      font-weight: 500;
      color: #fff;
      border-radius: 25px;
      padding: 16px 1px 16px 5px;
    }
  .button-donate {
    width: 100%;
    max-width: 298px;
    font-weight: 500;
    color: #fff;
    border-radius: 5px;
    padding: 16px 1px 16px 5px;
  }
  .button-feedback {
      width: 100%;
      max-width: 298px;
      font-weight: 500;
      color: #fff;
      border-radius: 5px;
      padding: 16px 1px 16px 5px;
    }
  .button-submit {
    font-weight: 400;
    background: #f1f3f2;
    border-radius: 5px;
    padding: 9px 39px;
  }
  .button-feed {
      width: 100%;
    max-width: 298px;
    font-weight: 500;
    color: #fff;
    border-radius: 25px;
    padding: 16px 1px 16px 5px;
  }
  .button-submit-color-default {
    color: #000;
    border: 1px solid #333b41;
  }
  .button-submit-color-default:active {
    color: #4b9200;
    border-color: #4b9200;
  }
  .button-color-default {
    background: linear-gradient(113.96deg, #f9804b 1.49%, #fe9013 101.44%);
  }
  .button-color-default:hover {
    background: #e47209;
  }
  .button-color-default:active {
    background: #4b9200;
  }
  .button_disabled,
  .button_disabled:hover,
  .button_disabled:active {
    background: #767474;
    cursor: pointer;
  }

  .wrapper {
    padding-left: 30px;
    padding-right: 30px;
  }
  header {
    position: relative;
    z-index: 2;
  }

  header .wrapper {
    padding-top: 14px;
    padding-bottom: 14px;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .logo {
    width: 82px;
    border: 1px solid #fff;
    border-radius: 2px;
    font-weight: 400;
    font-size: 1.9rem;
    line-height: 120%;
    line-height: 23px;
    display: inline-block;
    padding: 2px;
    position: relative;
  }
  .logo:before {
    position: absolute;
    left: 12px;
    bottom: 6px;
    content: '';
    background: url(../../assets/icons/bamboo.svg) 50% no-repeat;
    width: 7px;
    height: 21px;
    display: inline-block;
  }
  .burger-icon {
    display: none;
  }
  .menu {
    flex: 1;
  }
  .menu-body {
    flex: 1;
    display: flex;
    justify-content: space-between;
    margin-left: 63px;
  }
  .menu-body ul {
    display: flex;
    justify-content: space-between;
  }
  .menu-body a {
    font-weight: 500;
    margin-right: 58px;
  }
  .menu-body li:last-of-type a {
    margin-right: 0;
  }

  .watch-block {
    position: relative;
    margin-top: -80px;
  }
  .watch-block::before {
    position: absolute;
    content: '';
    width: 100%;
    height: 780px;
    left: 0;
    top: 0;
    background: url(../../assets/images/Giant\ Panda.jpg) 50% no-repeat;
    background-size: cover;
    z-index: -1;
  }
  .watch-block .wrapper {
    display: flex;
    justify-content: flex-end;
    height: 780px;
    overflow: hidden;
  }
  .watch-body {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 166px;
    z-index: 1;
  }
  .watch-block p {
    font-weight: 700;
    font-size: 10.6496rem;
    line-height: 75%;
    width: 500px;
    text-align: center;
    color: #fff;
    margin-bottom: 60px;
    position: relative;
  }
  .watch-block p::before {
    content: '';
    width: 465px;
    height: 465px;
    border-radius: 233px;
    position: absolute;
    background: linear-gradient(113.96deg, #f9804b 1.49%, #fe9013 101.44%);
    z-index: -1;
    left: -73px;
    top: -74px;
  }
  .watch-block span {
    color: #ffee2e;
  }

  .backstage-block {
    position: relative;
  }
  .backstage-block::after {
    content: '';
    width: 204px;
    height: 605px;
    display: block;
    position: absolute;
    right: 0;
    top: 15px;
    z-index: -2;
    background: url(../../assets/images/flower_foto1.png) 0 50% no-repeat;
  }
  .backstage-block .wrapper {
    display: flex;
    padding-top: 140px;
    justify-content: space-between;
  }
  .backstage-image-container {
    width: 609px;
    height: 403px;
    background: url(../../assets/images/bamboo-cap.jpg) 50% no-repeat;
    background-size: cover;
  }
  .backstage-block article {
    flex: 1;
    padding-left: 87px;
    color: #333b41;
  }
  .backstage-block h2 {
    font-size: 4.8rem;
    font-weight: 400;
    line-height: 120%;
    margin-bottom: 20px;
  }
  .backstage-block h3 {
    margin: 54px 0 34px;
    font-weight: 400;
    font-size: 2.4rem;
    line-height: 120%;
  }
  .backstage-block p {
    font-weight: 400;
    font-size: 16px;
    line-height: 137%;
  }

  .pets-block {
    margin-top: 178px;
    padding-bottom: 100px;
    position: relative;
  }
  .pets-block-slider {
    position: relative;
    padding-right: 2px;
    background-color: #fff;
    margin-bottom: 80px;
  }
  .slider-window {
    position: relative;
  }
  .hidden {
    overflow: hidden;
  }
  .button-slider {
    width: 62px;
    height: 62px;
    border-radius: 31px;
    background: linear-gradient(113.96deg, #f9804b 1.49%, #fe9013 101.44%);
    position: absolute;
    top: 403px;
  }
  .slider-prev {
    left: -82px;
  }
  .slider-next {
    right: -80px;
  }
  .slider-prev:before {
    content: url(../../assets/icons/slider_arrow_prev.svg);
  }
  .slider-next::before {
    content: url(../../assets/icons/slider_arrow_next.svg);
  }
  .button-slider:hover {
    cursor: pointer;
  }
  .button-slider:active {
    background: #4b9200;
  }

  .row-pets-card {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
  }

  .pet-card {
    border: 1px solid #f9804b;
    border-radius: 5px;
    width: 31.6%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background: #fff;
  }

  .pet-card img {
    width: 100%;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    position: relative;
  }
  .hovered img {
    border-radius: 15px;
    transform: scale(110%);
    transition: all 0.3s;
    z-index: 1002;
  }
  .pet-img {
    position: relative;
  }
  .pet-tooltip {
    border: 1px solid #000;
    width: 158px;
    border-radius: 5px;
    position: absolute;
    background-color: #fff;
    left: 15%;
    bottom: 0;
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 140%;
    padding: 6px 9px 14px;
    transition: bottom 0.3s;
    z-index: -1;
  }
  .pet-tooltip h4,
  .pet-tooltip p {
    height: 22px;
    overflow: hidden;
  }
  .button-watch {
    margin-top: 12px;
  }
  .hovered .pet-tooltip {
    z-index: 1001;
    bottom: -135px;
  }

  .pet-info {
    display: flex;
    padding: 10px 7px 13px 15px;
  }
  .pet-name {
    flex: 1;
  }
  .pet-name h4 {
    font-size: 1.6rem;
    font-weight: 500;
    line-height: 115%;
  }
  .pet-name p {
    font-size: 1.5rem;
    font-weight: 300;
    line-height: 120%;
    height: 18px;
    overflow: hidden;
  }
  .pet-icon {
    width: 48px;
    margin-top: 1px;
  }
  .banana-bamboo {
    width: 34px;
    background: url(../../assets/icons/banana-bamboo_icon.svg) 50% no-repeat;
    background-size: cover;
    margin-right: 4px;
  }
  .meat-fish {
    background: url(../../assets/icons/meet-fish_icon.svg) 50% no-repeat;
    background-size: cover;
    margin-top: -1px;
  }
  .pets-block .button-watch {
    margin: 0 auto;
    display: block;
  }
  .pets-block .button-choose {
      margin: 0 auto;
      display: block;
    }

  .friend-block {
    background: linear-gradient(
        315.75deg,
        rgba(254, 210, 144, 0.7) 30.06%,
        #febdab 100.95%,
        rgba(254, 210, 144, 0.7) 106.36%
      ),
      linear-gradient(
        315.75deg,
        rgba(254, 189, 171, 0.74) 30.06%,
        rgba(243, 169, 248, 0.66) 50.74%,
        #e0d8f0 80.49%,
        #eaf7fe 127.9%,
        #eaf7fe 149.54%
      ),
      linear-gradient(
        315.75deg,
        rgba(254, 189, 171, 0.74) 30.06%,
        rgba(243, 169, 248, 0.66) 50.74%,
        #e0d8f0 80.49%,
        #eaf7fe 127.9%,
        #eaf7fe 149.54%
      );
    opacity: 0.9;
    padding: 69px 0 100px;
  }
  .friend-block .wrapper {
    border-radius: 20px;
    background: rgba(253, 253, 255, 0.52);
    padding: 41px 0 59px;
    max-width: 1160px;
    color: #333b41;
  }
  .friend-block h2 {
    font-weight: 400;
    font-size: 4.8rem;
    line-height: 120%;
    color: #fe9013;
    text-align: center;
    margin-bottom: 31px;
  }
  .friend-info p {
    margin-left: 99px;
    margin-right: 20px;
  }
  .friend-info p:first-of-type {
    font-weight: 400;
    font-size: 2.4rem;
    line-height: 120%;
    margin-bottom: 40px;
  }
  .friend-info p:nth-of-type(2) {
    font-weight: 500;
    font-size: 1.6rem;
    line-height: 130%;
    margin-bottom: 10px;
  }
  .friend-info p:nth-of-type(3) {
    font-weight: 400;
    font-size: 1.6rem;
    line-height: 130%;
    margin-right: 198px;
  }
  .friend-info a {
    position: relative;
    display: inline-block;
  }

  .friend-map {
    margin-top: 61px;
    text-align: center;
  }
  .friend-map h3 {
    font-weight: 400;
    font-size: 3.6rem;
    line-height: 130%;
  }
  .feed {
    margin: 40px auto 60px;
    display: flex;
    justify-content: space-between;
    max-width: 764px;
  }
  .step {
    width: 168px;
  }
  .pay-card {
    background: url(../../assets/icons/pay.svg) 50% no-repeat;
  }
  .plant {
    background: url(../../assets/icons/zoo.svg) 50% 55% no-repeat;
  }
  .monkey {
    background: url(../../assets/icons/monkey.svg) 50% no-repeat;
  }
  .step-img {
    width: 168px;
    height: 168px;
    border: 1px solid #f9804b;
    border-radius: 5px;
    background-color: #fff;
    margin-bottom: 30px;
    position: relative;
  }
  .step p {
    text-align: left;
    height: 46px;
    overflow: hidden;
  }

  .friend-block .button-watch {
    display: block;
    margin: 0 auto;
  }
  .friend-block .button-choose {
      display: block;
      margin: 0 auto;
    }

  .testimonials-block {
    position: relative;
    padding-top: 140px;
    padding-bottom: 180px;
  }

  .testimonials-block h3 {
    font-weight: 400;
    font-size: 3.6rem;
    text-align: center;
    line-height: 130%;
    color: #333b41;
  }
  .wrap-window {
    overflow: hidden;
    margin-top: 47px;
    padding: 2px 3px;
  }
  .stories {
    display: flex;

    position: relative;
    transition: all 0.2s ease-in-out;
  }
  .modal-close {
    opacity: 0;
    visibility: hidden;
  }
  .wrap-story {
    flex: 0 0 calc((100% - 90px) / 4);
    margin-right: 30px;
    transition: all 0.2s;
  }
  .story {
    color: #767474;
    background: #f1f3f2;
    border-radius: 18px;
    padding: 14px 15px 19px 15px;
    height: 387px;
    position: relative;
  }

  .story figure {
    display: flex;
  }
  .story figure img {
    width: 37px;
    height: 37px;
    border-radius: 19px;
    overflow: hidden;
  }
  .story figcaption {
    margin-left: 10px;
    flex: 1;
  }
  .user-name {
    font-weight: 400;
    font-size: 16px;
    line-height: 130%;
    color: #000;
  }

  .user-data {
    font-weight: 300;
    font-size: 15px;
    line-height: 130%;
    color: #bdbdbd;
    display: inline-block;
  }

  .testimonial {
    height: 306px;
    overflow: hidden;
    margin-top: 5px;
  }
  .testimonial p {
    font-weight: 300;
    font-size: 15px;
    line-height: 120%;
  }
  .range {
    margin-bottom: 25px;
    margin-top: 13px;
    text-align: center;
  }
  .input-range {
    position: relative;
    -webkit-appearance: none;
    width: 599px;
    background: linear-gradient(
        315.75deg,
        rgba(254, 189, 171, 0.74) 30.06%,
        rgba(243, 169, 248, 0.66) 50.74%,
        #e0d8f0 80.49%,
        #eaf7fe 127.9%,
        #eaf7fe 149.54%
      ),
      linear-gradient(
        315.75deg,
        rgba(254, 189, 171, 0.74) 30.06%,
        rgba(243, 169, 248, 0.66) 50.74%,
        #e0d8f0 80.49%,
        #eaf7fe 127.9%,
        #eaf7fe 149.54%
      );
    height: 8px;
    border: none;
    border-radius: 5px;
    margin: 0 auto;
    cursor: pointer;
  }
  .input-range::-webkit-slider-runnable-track {
    background-color: #f5f7f6;
    height: 6px;
    border-radius: 5px;
    margin: 0 1px;
  }
  .input-range::-webkit-slider-thumb {
    -webkit-appearance: none;
    background-color: #fe9013;
    width: 12.5%;
    height: 6px;
    border-radius: 5px;
    border: none;
  }

  .footer {
    background-color: #111115;
    color: #fff;
  }
  .footer .wrapper {
    display: flex;
    flex-direction: column;
    padding-top: 40px;
    padding-bottom: 51px;
  }
  .footer-subfooter1,
  .footer-subfooter3 {
    display: flex;
    justify-content: space-between;
  }
  .footer-subfooter1 {
    margin-bottom: 36px;
    align-items: flex-start;
  }
  .footer-subfooter2 {
    margin-bottom: 44px;
  }
  .footer-subfooter1 a,
  .footer-subfooter2 a {
    display: block;
    text-align: center;
  }
  .footer-subfooter3 {
    align-items: flex-end;
    text-align: left;
  }
  .footer-subfooter1 .logo {
    padding-top: 0;
    padding-bottom: 5px;
  }

  .subscribe h4 {
    font-size: 2.4rem;
    font-weight: 400;
    line-height: 120%;
    margin-bottom: 13px;
    text-align: left;
  }
  .email {
    box-sizing: border-box;
    background: transparent;
    margin-right: 6px;
    height: 42px;
    color: #bdbdbd;
    padding: 0 9px;
    width: 228px;
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 140%;
    position: relative;
    outline: none;
  }
  .email:valid {
    border: 1px solid #f9804b;
  }
  .email:invalid {
    border: 1px solid #d31414;
  }
  .email:active {
    border: 1px solid #4b9200;
  }
  .email:invalid:focus + button {
    border: 1px solid #d31414;
    color: #d31414;
  }
  .email + button:active {
    border: 1px solid #4b9200;
    color: #4b9200;
  }
  .social li {
    margin-top: 11px;
  }

  .social a:active {
    color: #4b9200;
  }

  .menu-footer {
    position: relative;
    left: 85px;
  }
  .menu-footer li {
    margin-right: 54px;
    display: inline-block;
  }

  @media (max-width: 1250px) {

    .pet-card {
      margin-top: 142px;
    }
    .pet-card::after {
      width: 241px;
      height: 180px;
    }
    .pet-card::before {
      width: 194px;
      height: 202px;
      background-image: url(../../assets/images/pets_left_bg_1000.jpg);
    }

    .pets-block-slider {
      padding-right: 0;
      padding-left: 1px;
    }

    .button-slider {
      top: 46.18%;
    }
    .slider-prev {
      left: 34.45%;
    }
    .slider-next {
      right: 34.32%;
    }

  }

  @media (max-width: 999px) {
    .menu-body {
      margin-left: 0;
      justify-content: space-between;
    }

    .backstage-block::after {
      display: none;
    }
    .backstage-block .wrapper {
      display: flex;
      padding-top: 140px;
      justify-content: space-between;
    }
    .backstage-image-container {
      display: none;
    }
    .backstage-block article {
      margin-right: 120px;
    padding-left: 0;
    }
    .backstage-block h2 {
      margin-top: 0;
    padding-left: 3px;
    }
    .backstage-block h3 {
      margin: 30px 0 20px;
    padding-left: 3px;
    }
    .backstage-block p {
      font-weight: 400;
      font-size: 16px;
      line-height: 137%;
    }

    .row-pets-card:first-child {
      margin-bottom: 93px;
    }

    .pets-block-slider {
      padding-right: 0;
      padding-left: 1px;
    }

    .pet-card {
      margin-top: 142px;
      width: 31.2%;
    }

    .pet-card::after {
      width: 241px;
      height: 180px;
    }
    .pet-card::before {
      width: 194px;
      height: 202px;
      background-image: url(../../assets/images/pets_left_bg_1000.jpg);
    }
    .button-slider {
      top: 46.18%;
    }
    .slider-prev {
      left: 34.45%;
    }
    .slider-next {
      right: 34.32%;
    }
    .banana-bamboo {
      margin-top: -2px;
      margin-right: 5px;
    }
    .meat-fish {
      margin-right: 1px;
    }
  }

        @media (max-width: 640px) {
          .wrapper {
            padding-left: 20px;
            padding-right: 20px;
          }
    
          header {
            position: fixed;
            left: 0;
            top: 0;
            width: 100%;
            z-index: 10;
          }
    
          header .wrapper {
            padding-top: 0;
            padding-bottom: 0;
          }
    
          header .logo {
            z-index: 5;
            font-size: 1.23rem;
            line-height: 120%;
            width: 47px;
            border: none;
            height: 34px;
            transition: all 0.3s;
          }
    
          .logo:before {
            left: 6px;
            bottom: 5px;
            width: 5px;
            height: 13px;
          }
    
          .logo.burger-logo {
            color: #fe9013;
            border-color: #fe9013;
            margin: 10px 0 10px -9px;
            border: 1px solid #fe9013;
            font-size: 1.52rem;
            width: 66px;
            height: auto;
          }
    
          .burger-logo::before {
            background-image: url(../../assets/icons/burger_bamboo.svg);
            left: 9px;
            bottom: 4px;
            width: 7px;
            min-height: 21px;
          }
    
          .menu {
            flex: none;
            flex-direction: column;
          }
    
          .burger-icon {
            z-index: 5;
            display: block;
            position: relative;
            width: 38px;
            height: 34px;
            cursor: pointer;
            border: 10px solid transparent;
            border-bottom-width: 13px;
            border-top-width: 11px;
            padding: 5px;
            right: -10px;
          }
    
          .burger-icon span,
          .burger-icon::before,
          .burger-icon::after {
            left: 0;
            position: absolute;
            height: 18%;
            width: 100%;
            transition: all 0.3s;
            background-color: #fff;
          }
    
          .burger-icon::before,
          .burger-icon::after {
            content: '';
          }
    
          .burger-icon::before {
            top: 0;
          }
    
          .burger-icon::after {
            bottom: 0;
          }
    
          header li a {
            margin: 0;
          }
    
          .burger-icon span {
            top: 50%;
            transform: scale(1) translate(0px, -50%);
          }
    
          .burger-icon._active span,
          .burger-icon._active::before,
          .burger-icon._active::after {
            background-color: #fe9013;
          }
    
          .burger-icon._active span {
            transform: scale(0) translate(0px, -50%);
          }
    
          .burger-icon._active::before {
            top: 55%;
            transform: rotate(-45deg) translate(0px, -50%);
          }
    
          .burger-icon._active::after {
            top: 45%;
            transform: rotate(45deg) translate(0px, 50%);
          }
    
          .menu-body {
            position: fixed;
            top: 0;
            left: -100%;
            margin-left: 0;
            width: 100%;
            height: 100%;
            background-color: rgba(0, 0, 0, 0.65);
            color: #333b41;
            align-items: flex-start;
            text-align: left;
            overflow: auto;
            transition: all 0.3s;
          }
    
          .menu-body ul {
            background-color: #fff;
            display: flex;
            flex-direction: column;
            width: 100%;
            padding-left: 10px;
            padding-top: 80px;
            padding-bottom: 25px;
          }
    
          .menu-body._active::before {
            background-color: #fff;
          }
    
          .menu-body._active {
            left: 0;
          }
    
          .menu-body._active a {
            font-weight: 400;
          }
    
          .menu-body li {
            margin-bottom: 15px;
          }
    
          .watch-block {
            margin-top: 0;
            padding-top: 0;
          }
    
          .watch-block::before {
            height: 373px;
          }
    
          .watch-block .wrapper {
            height: 373px;
            display: block;
          }
    
          .watch-body {
            margin-top: 83px;
            align-items: center;
          }
    
          .watch-block p {
            font-size: 5.43rem;
            width: 255px;
            margin-right: -3px;
            align-self: flex-end;
            margin-bottom: 0;
          }
    
          .watch-block p::before {
            width: 238px;
            height: 238px;
            border-radius: 119px;
            top: -39px;
            left: -37px;
          }
    
          .watch-block .button1 {
            align-self: flex-start;
            margin-left: 0;
            margin-top: -7px;
          }
    
          .pets-block {
            margin-top: 80px;
            padding-bottom: 102px;
          }
    
          .pet-card {
            width: 47.55%;
          }
    
          .pets-block-slider {
            padding-left: 0;
            margin-bottom: 60px;
          }
    
          .row-pets-card:first-child {
            margin-bottom: 92px;
          }
    
          .pet-info {
            padding: 7px 5px 6px 12px;
          }
    
          .pet-name h4 {
            font-size: 1.247rem;
          }
    
          .pet-name p {
            font-size: 1.169rem;
            line-height: 120%;
          }
    
          .banana-bamboo {
            width: 26px;
            height: 29px;
            margin-right: 2px;
          }
    
          .meat-fish {
            width: 37px;
            height: 29px;
          }
    
          .button-slider {
            top: 45.4%;
          }
    
          .slider-next {
            right: 37.3%;
          }
    
          .slider-prev {
            left: 37.3%;
          }
    
          .pets-block::before {
            width: 134px;
            height: 202px;
            background: url(../../assets/images/pets_left_bg_640.jpg) 50% no-repeat;
          }
    
          .pets-block::after {
            width: 175px;
            height: 131px;
          }
    
          .friend-block {
            padding: 20px 0;
          }
    
          .friend-block h2 {
            font-size: 4.2rem;
            margin-bottom: 20px;
          }
    
          .friend-info p {
            margin-left: 0;
          }
    
          .friend-info p:first-of-type {
            font-size: 2.2rem;
            margin-right: 0;
            margin-bottom: 19px;
            line-height: 118%;
          }
    
          .friend-info p:nth-of-type(2) {
            margin-right: 0;
            line-height: 132%;
            margin-bottom: 10px;
          }
    
          .friend-info p:nth-of-type(3) {
            font-weight: 400;
            font-size: 16px;
            line-height: 132%;
            margin-right: 0;
          }
    
          .friend-map {
            margin-top: 30px;
          }
    
          .feed {
            margin-top: 20px;
            padding-right: 12px;
            margin-bottom: 40px;
          }
    
          .step:nth-of-type(-n + 2) .step-img:after {
            top: -20px;
            left: 79.5%;
          }
    
          .testimonials-block {
            padding-top: 60px;
            padding-bottom: 80px;
          }
    
          .wrap-window {
            margin-top: 30px;
            height: 357px;
            margin-bottom: 40px;
          }
    
          .stories {
            flex-direction: column;
            margin-top: 0;
          }
    
          .wrap-story {
            margin-right: 0;
            margin-bottom: 19px;
            cursor: pointer;
          }
    
          .story {
            max-height: 105px;
            min-height: auto;
            padding: 12px 10px;
          }
    
          .testimonials-block {
            height: 38px;
            overflow: hidden;
            padding-left: 6px;
            padding-right: 19px;
          }
    
          .range {
            display: none;
          }
    
          .testimonials-block .button-feedback {
            margin: 0 auto;
            display: block;
            max-width: 240px;
          }
    
          .testimonials-block::after {
            width: 117px;
            height: 180px;
            bottom: -56px;
            background: url(../../assets/images/testimonials_bg_640.jpg) 50% no-repeat;
          }
    
          .modal {
            position: fixed;
            left: 0;
            top: 0;
            z-index: 100;
            width: 100%;
            height: 100%;
            background-color: rgba(0, 0, 0, 0.65);
            display: flex;
            justify-content: center;
            align-items: center;
            overflow-y: auto;
            overflow-x: hidden;
          }
    
          .modal .modal-close {
            opacity: 1;
            visibility: visible;
            left: 105%;
            top: -3%;
            width: 14px;
            height: 14px;
            background: url(../../assets/icons/modal-close_icon.svg) 50% no-repeat;
            background-size: cover;
            position: absolute;
            cursor: pointer;
            z-index: 100;
          }
    
          .modal .story {
            max-width: 267px;
            height: 390px;
            flex: none;
            max-height: 390px;
            position: relative;
            min-height: auto;
          }
    
          .modal .testimonial {
            height: 306px;
            padding-right: 6px;
          }
        }


        @media (max-width: 320px) {
    
          .wrapper {
            padding-left: 10px;
            padding-right: 10px;
          }
    
          .burger-logo {
            margin-left: 0px;
          }
    
    
          .watch-block {
            margin-top: 33px;
          }
    
          .watch-block .wrapper {
            overflow: visible;
          }
    
          .watch-block .wrapper,
          .watch-block::before {
            height: 188px;
          }
    
          .watch-body {
            margin-top: 0;
          }
    
          .watch-block p {
            font-size: 2.8rem;
            width: 128px;
            margin-top: 42px;
            margin-right: 0px;
          }
    
          .watch-block p::before {
            width: 119px;
            height: 119px;
            border-radius: 60px;
            left: -19px;
            top: -19px;
          }
    
          .watch-block .button-choose {
            margin: 0 auto;
            position: relative;
            top: 60px;
            left: 0px;
            z-index: 2;
          }
    
          .backstage-block::after {
            width: 31px;
            height: 217px;
            top: 38px;
          }
    
          .backstage-block .wrapper {
            padding-top: 104px;
          }
    
          .backstage-block h2 {
            font-size: 2.4rem;
            margin-bottom: 10px;
            padding-left: 0;
          }
    
          .backstage-block h3 {
            padding-left: 2px;
            margin: 20px 0 10px;
          }
    
          .backstage-block article {
            margin-right: 0;
            padding-left: 2px;
            padding-right: 25px;
          }
    
          .next {
            right: 25%;
          }
    
          .prev {
            left: 25%;
          }
    
          .logo.burger-logo {
            margin-left: 0;
          }
    
    
          .pets-block {
            margin-top: 39px;
            padding-bottom: 59px;
          }
    
          .pets-slider {
            margin-bottom: 20px;
            padding: 0 7px;
          }
    
          .row-pets-card:first-child {
            margin-bottom: 0;
            flex-direction: column;
          }
    
          .pet-card {
            width: 100%;
            margin-bottom: 21px;
          }
    
          .pet_card:last-child {
            margin-bottom: 0;
          }
    
          .pet-cards::before {
            width: 58px;
            height: 72px;
            background: url(../../assets/images/pets_left_bg_320.jpg) 50% no-repeat;
          }
    
          .pets-block::after {
            width: 68px;
            height: 62px;
            background: url(../../assets/images/pets_right_bg_320.jpg) 50% no-repeat;
          }
    
          .button-slider {
            display: none;
          }
    
          .friend-block {
            padding: 20px 11px 20px 10px;
          }
    
          .friend-block .wrapper {
            padding: 20px 0 40px;
          }
    
          .friend-block h2 {
            font-size: 2.4rem;
            margin-bottom: 10px;
            line-height: 122%;
          }
    
          .friend-info {
            text-align: center;
          }
    
          .friend-info p:first-of-type {
            font-size: 1.8rem;
            line-height: 122%;
            margin-right: 3px;
          }
    
          .friend-info p:nth-of-type(2),
          .friend-info p:nth-of-type(3) {
            display: none;
          }
    
          .friend-map {
            margin-top: 20px;
          }
    
          .friend-map h3 {
            font-weight: 400;
            font-size: 24px;
            line-height: 120%;
          }
    
          .feed {
            flex-direction: column;
            justify-content: flex-start;
            align-items: center;
            padding-right: 0;
            margin-bottom: 29px;
          }
    
          .step {
            width: 168px;
            margin-bottom: 19px;
          }
    
          .step:last-child {
            margin-bottom: 0;
          }
    
          .step:nth-of-type(-n + 2) .step_img:after {
            top: 95.8%;
            left: 99.8%;
            width: 40px;
            height: 90px;
            background: url(../../assets/icons/arrow_mobile.svg) 50% no-repeat;
          }
    
          .step:nth-of-type(2) .step_img:after {
            top: 100.8%;
            left: 99.8%;
          }
    
          .step:nth-of-type(n + 2) {
            padding-bottom: 9px;
          }
    
          .step-img {
            margin-bottom: 9px;
          }
    
          .step-img p {
            height: 44px;
          }
    
    
          .testimonials-block {
            padding-top: 30px;
            padding-bottom: 60px;
          }
    
          .testimonials-block h3 {
            font-size: 2.4rem;
            line-height: 120%;
          }
    
          .wrap-window {
            margin-top: 20px;
            margin-bottom: 30px;
          }
    
          .story {
            padding: 9px 11px 12px;
          }
    
          .story figcaption {
            margin-left: 5px;
          }
    
          .testimonials-block::after {
            background-image: url(../../assets/images/testimonials_bg_320.jpg);
            width: 50px;
            height: 78px;
            bottom: -21px;
          }
        }